<%= form_with(model: @house, local: true) do |form| %>

    <% if @house.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@house.errors.count, "error") %> prohibited this house from being saved:
            </h2>
            <ul>
                <% @house.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= form.label :address%><br>
        <%= form.text_field :address%>
    </p>

    <p>
        <%= form.label :available_date%><br>
        <%= form.date_field :available_date, :value => Time.now.strftime('%Y-%m-%d'), min: Time.now.strftime('%Y-%m-%d') %>
    </p>

    <p>
        <%= form.label :monthly_rent %><br>
        <%= form.number_field :monthly_rent, min: 0 %>
    </p>

    <p>
        <%= form.label :rooms_available %><br>
        <%= form.number_field :rooms_available, min: 0, max: 20 %>
    </p>

    <p>
        <%= form.label :current_occupants %><br>
        <%= form.number_field :current_occupants, min: 0, max: 20%>
    </p>

    <p>
        <%= form.label :description %><br>
        <%= form.text_area :description%>
    </p>
    
    <p>
        <% if current_user %>
            <%= form.label :owner %><br>
            <%= form.text_field :owner, :value => current_user.email, :readonly => true%>
        <% end %>
    </p>

    <p>
        <% if current_user %>
            <%= form.submit %>
        <% else %>
            <p>Unregistered users cannot create houses.</p>
            <%= link_to 'Sign Up', signup_path %> or
            <%= link_to 'Sign In', login_path %>
        <% end %>
    </p>
<% end %>