<h1>My Houses</h1>

<table>
    <tr>
        <th>Address</th>
        <th>Monthly Rent</th>
        <th>Available Date</th>
    </tr>
    
    <% @houses.each do |house| %>
    <tr>
        <% if current_user.email == house.owner %>
        <td><%= house.address %></td>
        <td>$<%= house.monthly_rent %></td>
        <td><%= house.available_date %></td>
        <td><%= link_to 'Show', house_path(house) %></td>
        <td><%= link_to 'Edit', edit_house_path(house) %></td>
        <td><%= link_to 'Delete', house_path(house),
                method: :delete,
                data: {confirm: 'Are you sure?'} %></td>
        <% end %>
    </tr>
    <% end %>
</table>