<p>
    <strong>Address:</strong>
    <%= @house.address %>
</p>
<p>
    <strong>Available Date:</strong>
    <%= @house.available_date %>
</p>
<p>
    <strong>Monthly Rent:</strong>
    <%= @house.monthly_rent %>
</p>
<p>
    <strong>Rooms Available:</strong>
    <%= @house.rooms_available %>
</p>
<p>
    <strong>Current Occupants:</strong>
    <%= @house.current_occupants %>
</p>
<p>
    <strong>Description:</strong>
    <%= @house.description %>
</p>

<h2>Comments</h2>
<%= render @house.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form'%>

<%= link_to 'Edit', edit_house_path(@house) %> | 
<%= link_to 'Back', houses_path %>