<h1>Profile</h1>
<p>Name: 
    <%= current_user.first_name %>
    <%= current_user.last_name %>
</p>

<p>Email: 
    <%= current_user.email %>
</p>

<%= link_to 'My Houses', mine_path %>
<%= link_to 'Home', controller: 'home' %>
